:root {
  background-color: #242424;
  color: rgba(255, 255, 255, 0.87);

  color-scheme: light dark;
  font-family: poppins, Google Sans, Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  font-synthesis: none;
  font-weight: 400;
  line-height: 1.5;
  text-rendering: optimizeLegibility;
  -webkit-text-size-adjust: 100%;
}

a {
  color: #646cff;
  font-weight: 500;
  text-decoration: inherit;
}

a:hover {
  color: #535bf2;
}

html {
  display: flex;
  font-size: 62.5%;
  justify-content: center;
  margin: 0;
  padding: 0;
  width: 100vw;
}

body {
  background-color: #ffffff;
  font-family: Google Sans;
  margin: 0;
  max-width: 1280px;
  min-height: 100vh;
  min-width: 320px;
  padding: 0 50px;
  width: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: Poppins;
}


button {
  background-color: #1a1a1a;
  border: 1px solid transparent;
  border-radius: 8px;
  cursor: pointer;
  font-family: inherit;
  font-size: 1.4rem;
  font-weight: 500;
  padding: 0.5rem 1.2rem;
  transition: border-color 0.25s;
}

button:hover {
  border-color: #646cff;
}

button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    background-color: #ffffff;
    color: #213547;
  }

  a:hover {
    color: #747bff;
  }

  button {
    background-color: white;
    border: 1px solid;
  }
}